// navigation

ul#menu.metismenu
  li
    a(href='/dashboard')
      .parent-icon
        i.bx.bx-tachometer
      .menu-title Dashboard
  li
    a(href='/stockLedgers')
      .parent-icon
        i.bx.bx-coin-stack
      .menu-title Inventory
  li
    a.has-arrow(href='javascript:;')
      .parent-icon
        i.bx.bx-grid-alt
      .menu-title View All BO
    ul
      li
        a(href='/categories')
          i.bx.bx-right-arrow-alt
          | Categories
      li
        a(href='/items')
          i.bx.bx-right-arrow-alt
          | Items
      li
        a(href='/customers')
          i.bx.bx-right-arrow-alt
          | Cutomers
      li
        a(href='/suppliers')
          i.bx.bx-right-arrow-alt
          | Suppliers
  li
    a.has-arrow(href='javascript:;')
      .parent-icon
        i.bx.bx-money
      .menu-title Accounts
    ul
      li
        a(href='/coa')
          i.bx.bx-right-arrow-alt
          | Chart of Accounts
      li
        a(href='/receipts')
          i.bx.bx-right-arrow-alt
          | Receipts
      li
        a(href='/payments')
          i.bx.bx-right-arrow-alt
          | Payments
  li
    a.has-arrow(href='javascript:;')
      .parent-icon
        i.bx.bx-recycle
      .menu-title View all Ops
    ul
      li
        a(href='/cashReceipts')
          i.bx.bx-right-arrow-alt
          | Cash Receipts
      li
        a(href='/orders')
          i.bx.bx-right-arrow-alt
          | Orders
      li
        a(href='/sales')
          i.bx.bx-right-arrow-alt
          | Sales
      li
        a(href='/saleReturns')
          i.bx.bx-right-arrow-alt
          | Sale Returns
      li
        a(href='/purchases')
          i.bx.bx-right-arrow-alt
          | Purchases
      li
        a(href='/purchaseReturns')
          i.bx.bx-right-arrow-alt
          | Purchase Returns
  //-   ul
  //-     li
  //-       a(href='#')
  //-         i.bx.bx-right-arrow-alt
  //-         | Stock Report
  //-     li
  //-       a(href='#')
  //-         i.bx.bx-right-arrow-alt
  //-         | Ledger Report
  //-     li
  //-       a(href='#')
  //-         i.bx.bx-right-arrow-alt
  //-         | Sale Report
  //-     li
  //-       a(href='#')
  //-         i.bx.bx-right-arrow-alt
  //-         | Sale Return Report
  //-     li
  //-       a(href='#')
  //-         i.bx.bx-right-arrow-alt
  //-         | Purchase Report
  //-     li
  //-       a(href='#')
  //-         i.bx.bx-right-arrow-alt
  //-         | Purchase Return Report
// end navigation
