extends ../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .row.row-cols-1.row-cols-md-5
        .col
          .card.radius-10
            .card-body
              .text-center
                .widgets-icons.rounded-circle.mx-auto.bg-light-primary.text-primary.mb-3
                  i.bx.bxs-wallet
                h4.my-1 84K
                p.mb-0.text-secondary Total Orders
        .col
          .card.radius-10
            .card-body
              .text-center
                .widgets-icons.rounded-circle.mx-auto.bg-light-danger.text-danger.mb-3
                  i.bx.bxs-binoculars
                h4.my-1 34M
                p.mb-0.text-secondary Orders Cancelled
        .col
          .card.radius-10
            .card-body
              .text-center
                .widgets-icons.rounded-circle.mx-auto.bg-light-warning.text-warning.mb-3
                  i.bx.bxl-dropbox
                h4.my-1 28K
                p.mb-0.text-secondary Orders In-process
        .col
          .card.radius-10
            .card-body
              .text-center
                .widgets-icons.rounded-circle.mx-auto.bg-light-info.text-info.mb-3
                  i.bx.bxl-chrome
                h4.my-1 56K
                p.mb-0.text-secondary Orders Ready
        .col
          .card.radius-10
            .card-body
              .text-center
                .widgets-icons.rounded-circle.mx-auto.bg-light-success.text-success.mb-3
                  i.bx.bx-line-chart-down
                h4.my-1 38M
                p.mb-0.text-secondary Orders Delivered
      .row.row-cols-1.row-cols-md-2.row-cols-xl-4
        .col
          .card.radius-10.overflow-hidden
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0 Receipts
                  h5.mb-0 867
                .ms-auto
                  i.bx.bx-cart.font-30
              .progress.radius-10.mt-4.h-5
                .progress-bar.bg-primary.w-100(role='progressbar')
        .col
          .card.radius-10.overflow-hidden
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0 Payments
                  h5.mb-0 52,945
                .ms-auto
                  i.bx.bx-wallet.font-30
              .progress.radius-10.mt-4.h-5
                .progress-bar.bg-danger.w-100(role='progressbar')
        .col
          .card.radius-10.overflow-hidden
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0 Un-paid Sales
                  h5.mb-0 24.5K
                .ms-auto
                  i.bx.bx-bulb.font-30
              .progress.radius-10.mt-4.h-5
                .progress-bar.bg-success.w-100(role='progressbar')
        .col
          .card.radius-10.overflow-hidden
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0 Paid Sales
                  h5.mb-0 869
                .ms-auto
                  i.bx.bx-chat.font-30
              .progress.radius-10.mt-4.h-5
                .progress-bar.bg-info.w-100(role='progressbar')
      .row.row-cols-1.row-cols-md-2.row-cols-xl-4
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Sales
                  h4.my-1 4805
                .widgets-icons.bg-light-success.text-success.ms-auto
                  i.bx.bxs-wallet
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Sale Returns
                  h4.my-1 8.4K
                .widgets-icons.bg-light-info.text-info.ms-auto
                  i.bx.bxs-group
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Purchases
                  h4.my-1 59K
                .widgets-icons.bg-light-danger.text-danger.ms-auto
                  i.bx.bxs-binoculars
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Purchase Raturns
                  h4.my-1 34K
                .widgets-icons.bg-light-warning.text-warning.ms-auto
                  i.bx.bx-line-chart-down
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Assets
                  h4.my-1 42K
                .text-primary.ms-auto.font-35
                  i.bx.bxl-chrome
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Liabilities
                  h4.my-1 56M
                .text-danger.ms-auto.font-35
                  i.bx.bxl-github
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Revenue
                  h4.my-1 42M
                .text-warning.ms-auto.font-35
                  i.bx.bxl-firefox
        .col
          .card.radius-10
            .card-body
              .d-flex.align-items-center
                div
                  p.mb-0.text-secondary Expense
                  h4.my-1 85M
                .text-success.ms-auto.font-35
                  i.bx.bxl-shopify