extends ../../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .page-breadcrumb.d-none.d-sm-flex.align-items-center.mb-3
        .breadcrumb-title.pe-3 General Journal
        .ps-3
          nav(aria-label='breadcrumb')
            ol.breadcrumb.mb-0.p-0
              li.breadcrumb-item
                a(href='javascript:;')
                  i.bx.bx-home-alt
              li.breadcrumb-item.active(aria-current='page') Add New Journal Entry
      // end breadcrumb
      .row
        .col-xl-12.mx-auto 
          .card.border-top.border-0.border-4.border-primary
            .card-body.p-4
              .row
                .col-lg-4
                  .form-body
                    form
                      .border.border-3.p-4.rounded
                        .mb-3
                          label.form-label(for='journalEntryType') Entry Type
                          select#journalEntryType.form-select(required)
                            option(value='' selected hidden disabled) Select Entry Type ...
                            option(value='General Entry') General Entry
                            option(value='Adjustment Entry') Adjustment Entry
                            option(value='Rectification Entry') Rectification Entry
                            option(value='Reversal Entry') Reversal Entry
                            option(value='Closing Entry') Closing Entry
                        .mb-3
                          label.form-label(for='amount') Amount
                          input#amount.form-control(type='number' step='0.01' required)
                        .mb-3
                          label.form-label(for='narration') Narration
                          textarea#narration.form-control(rows='4' required)
                        .mb-3
                          button.btn.btn-primary.px-5(type='submit') Create 
                          button#resetButton.btn.btn-outline-primary.ms-4.px-5(type='Reset') Reset
                .col-lg-8
                  .col-xl
                    .card
                      .card-body
                        .form-body-child
                          form#ledgerEntryForm
                            .row
                              .col-sm-3.form-group
                                label.form-label(for='ledgerEntryType') Dr / Cr
                                select#ledgerEntryType.form-select(required)
                                  option(value='' selected hidden disabled) Select Type ...
                                  option(value='Dr') Debit
                                  option(value='Cr') Credit
                              .col-sm-3.form-group
                                label#accountLabel.form-label(for='ledgerEntryAccount') A/c
                                select#ledgerEntryAccount.form-select(required)
                                  option(value='' selected hidden disabled) Select Account ...
                                  each account in accounts
                                    option(value=`${account.id}`) #{account.title}
                              .col-sm-3.form-group
                                label.form-label(for='ledgerEntryAmount') Amount
                                input#ledgerEntryAmount.form-control(type='number' step='0.01' required)
                              .col-sm-3.form-group.align-bottom
                                br
                                button.btn.btn-outline-primary.px-5.mt-2(type='submit') Add
                      .card-body
                        .table-responsive
                          table.table.table-striped.table-bordered
                            thead
                              tr
                                th Type
                                th Account
                                th.text-end Dr
                                th.text-end Cr
                                th Action
                            tbody#ledgerEntries
  script(src='/assets/js/custom/accounts/journal/createJournalEntry.js')