// start overlay
.overlay.toggle-icon
// end overlay
// Start Back To Top Button
a.back-to-top(href='javaScript:;')
  i.bx.bxs-up-arrow-alt
// End Back To Top Button
footer.page-footer
  p.mb-0 Copyrights © All rights reserved.