// start switcher
.switcher-wrapper
  .switcher-btn
    i.bx.bx-cog.bx-spin
  .switcher-body
    .d-flex.align-items-center
      h5.mb-0.text-uppercase Theme Customizer
      button.btn-close.ms-auto.close-switcher(type='button' aria-label='Close')
    hr
    h6.mb-0 Theme Styles
    hr
    .d-flex.align-items-center.justify-content-between
      .form-check
        input#lightmode.form-check-input(type='radio' name='flexRadioDefault' checked)
        label.form-check-label(for='lightmode') Light
      .form-check
        input#darkmode.form-check-input(type='radio' name='flexRadioDefault')
        label.form-check-label(for='darkmode') Dark
      .form-check
        input#semidark.form-check-input(type='radio' name='flexRadioDefault')
        label.form-check-label(for='semidark') Semi Dark
    hr
    .form-check
      input#minimaltheme.form-check-input(type='radio' name='flexRadioDefault')
      label.form-check-label(for='minimaltheme') Minimal Theme
    hr
    h6.mb-0 Header Colors
    hr
    .header-colors-indigators
      .row.row-cols-auto.g-3
        .col
          #headercolor1.indigator.headercolor1
        .col
          #headercolor2.indigator.headercolor2
        .col
          #headercolor3.indigator.headercolor3
        .col
          #headercolor4.indigator.headercolor4
        .col
          #headercolor5.indigator.headercolor5
        .col
          #headercolor6.indigator.headercolor6
        .col
          #headercolor7.indigator.headercolor7
        .col
          #headercolor8.indigator.headercolor8
    hr
    h6.mb-0 Sidebar Backgrounds
    hr
    .header-colors-indigators
      .row.row-cols-auto.g-3
        .col
          #sidebarcolor1.indigator.sidebarcolor1
        .col
          #sidebarcolor2.indigator.sidebarcolor2
        .col
          #sidebarcolor3.indigator.sidebarcolor3
        .col
          #sidebarcolor4.indigator.sidebarcolor4
        .col
          #sidebarcolor5.indigator.sidebarcolor5
        .col
          #sidebarcolor6.indigator.sidebarcolor6
        .col
          #sidebarcolor7.indigator.sidebarcolor7
        .col
          #sidebarcolor8.indigator.sidebarcolor8
// end switcher