extends ../../common/base

block content
  // start page wrapper
  .page-wrapper
    .page-content
      .page-breadcrumb.d-none.d-sm-flex.align-items-center.mb-3
        .breadcrumb-title.pe-3 Sale Returns
        .ps-3
          nav(aria-label='breadcrumb')
            ol.breadcrumb.mb-0.p-0
              li.breadcrumb-item
                a(href='javascript:;')
                  i.bx.bx-home-alt
              li.breadcrumb-item.active(aria-current='page') Add New Sale Return
      // end breadcrumb
      .row
        .col-xl-12.mx-auto 
          .card.border-top.border-0.border-4.border-primary
            .card-body.p-4
              .row
                .col-lg-12
                  .col-xl
                    .card
                      .card-body
                        .form-body-child
                          form#saleReturnEntryForm
                            .row
                              .col-sm-2.form-group
                                label.form-label(for='itemListOptions') Select Item
                                input#itemName.form-control(list='itemListOptions' placeholder='Type to search...' required)
                                datalist#itemListOptions
                                  each item in items
                                    option(value=`${item.name}` id=`${item.id}-${item.price}`)
                              .col-sm-2.form-group
                                label.form-label(for='rate') Rate
                                input#rate.form-control(type='number' value='0.00' step='0.01' required)
                              .col-sm-2.form-group
                                label.form-label(for='qty') Qty
                                input#qty.form-control(type='number' value='0.00' step='0.01' required)
                              .col-sm-2.form-group
                                label.form-label(for='totalAmount') Total Amount
                                br
                                input#totalAmount.form-control(value='0.00' disabled) 
                                //- label#totalAmount.form-label 0.00
                              .col-sm-2.form-group.align-bottom
                                br
                                button.btn.btn-outline-primary.px-5.mt-2(type='submit') Add
                      .card-body
                        .table-responsive
                          table.table.align-middle.mb-0
                            thead.table-light
                              tr
                                th Ser.#
                                th Item Name
                                th Rate
                                th Qty
                                th Amount
                                th Action
                            tbody#saleReturnEntries
                    form.form-body
                      .row
                        .col
                          .mb-3
                            button.btn.btn-primary.px-5(type='submit') Save     
                            button#resetButton.btn.btn-outline-primary.ms-4.px-5(type='Reset') Reset 
  script(src='/assets/js/custom/operations/saleReturns/createSaleReturn.js')